<script>
$(document).ready(function(){
  $(".chosen").data("placeholder","Select location...").chosen();
});

</script>

<body>


  <header class="sf-muni">
    SF-MUNI
  </header>
<p class="message"><%= @message %></p>
<div class="all">
  <!-- list of all stops -->
  <div>
  <form action="/stops" method="post">
    <select class="stop_title chosen" name="stop" id="station">
      <% @stops.select("distinct title").order("title").each do |stop| %>
        <option name="stop.latitude" value="<%=stop.title%>"><%= stop.title %></option>
      <% end %>
      <% if !@res.empty? %>
      <option name="stop.latitude" value="<%= @res.first[:title] %>" selected="selected"><%= @res.first[:title] %></option>
      <% end %>
    </select>
    <input type="submit" value="Show">
  </form>
</div>
</div>

<div class="stops">
  <% @res.each do |stop| %>
  <% next  if stop[:time].length == 0%>
      <div class="name-direction">
      <div> <span class="route"><%= stop[:route]%></span>, <%= stop[:time].last%> (<%= stop[:title]%>).
      <br>
      <span>The next bus through:</span></div>
      <ul class="time-list">
      <% (stop[:time].length - 1).times do |elm| %>
        <% if stop[:time].index(stop[:time][elm]) == 0 %>
          <li class="time-first"><%= stop[:time][elm] %><span>min</span></li>
        <% else %>
          <li class="time"><%= stop[:time][elm] %><span>min</span></li>
        <% end %>
      <% end %>
      </ul>
      </div>
  <% end %>

</div>


<div class="map">
  <div id="map-canvas" style='width: 1000px; height: 600px;'></div>
</div>
</body>
<script type="text/javascript">
function initialize() {
  var location = '<%= j @location.to_s.html_safe %>';
  location = location.replace(/]/g,"").replace(/[[]/g,"").split(",");
  var  latlng = new google.maps.LatLng(location[1],location[2]);
  var mapOptions = {
    zoom: 15,
    center: latlng
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  setMarkers(map,location)
}
function setMarkers(map, location) {
  var market, i

  for (var i = 1; i < location.length; i= i + 3 ){
    var stop_lat = location[i];
    var stop_lng = location[i+1];

    var latlng = new google.maps.LatLng(parseFloat(stop_lat), parseFloat(stop_lng));
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: "Hello"
    });
    discribe_stop = location[i-1].split("|");
    var content = "<div class='street'>" + discribe_stop[1].replace(/"/g, "") + "</div>"+
    "<hr>"
    for (var j = 0; j < discribe_stop.length; j = j + 3)
    {
      content += "<div>"+discribe_stop[j].replace(/"/g,"") +" ("+discribe_stop[j + 2].replace(/"/g,"")+")"+"</div>";
    }

    var infowindow = new google.maps.InfoWindow()
    google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow){
      return function() {
        infowindow.setContent(content);
        infowindow.open(map, marker);
      };
    })(marker, content, infowindow));
  };

};

google.maps.event.addDomListener(window, 'load', initialize);
</script>

</body>
