<!DOCTYPE html>
<script>
$(document).ready(function(){
  $(".chosen").data("placeholder","Select location...").chosen();
});

</script>
<body>

<div class="container">
<p class="message"><%= @message %></p>

<div class="all">
  <!-- list of all stops -->
  <div>
  <form action="/stops" method="post" class="form-inline">
    <div class="form-group">
      <select class="stop_title chosen" name="stop" id="station"  data-placeholder="choose the station">
        <optio value=""></option>
        <% @stops.each do |stop| %>
          <option name="stop.latitude" value="<%=stop.title %>"><%= stop.title %></option>
        <% end %>
        <% if !@res.empty? %>
        <option name="stop.latitude" value="<%= @res.first[:title] %>" selected="selected"><%= @res.first[:title] %></option>
        <% end %>
      </select>
    </div>
    <input class="btn btn-primary btn-xs btn-size" type="submit" value="Show">
  </form>
</div>
</div>

<div class="stops row">

  <% if @res.empty? %>

    <div class='text-center'><h4>not avaliable right now</h4></div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#map').hide();
      })
    </script>
  <% else %>
  <% @res.each do |stop| %>
    <% (0..(stop[:time].length - 1)).step(2) do |t|%>
      <div class="name-direction col-md-12 col-xs-12">
        <aside class="left-info-stop">
          <div class='header-stop text-center'> <span class="route"><%= stop[:route]%></span>
              <p>
                <%= stop[:title]%>
              </p>
          </div>
        </aside>
        <br>
          <aside class="right-info-stop">
            <div class="">
              <p>The next buses are in:</p>
              <ul class="time-list">
              <% stop[:time][t].each do |elm| %>
                <% if elm == 0%>
                  <li class="time-first"><span>NOW</span></li>
                <% elsif stop[:time][t].index(elm) == 0 %>
                  <li class="time-first"><%= elm %><span>min</span></li>
                <% else %>
                  <li class="time"><%= elm %><span>min</span></li>
                <% end %>
              <% end %>
              </ul>
            </div>
          </aside>
      </div>
  <% end %>
  <% end %>
  <% end %>
</div>


<div id="map">
  <div id="map-canvas"></div>
</div>
</body>
<script type="text/javascript">
function initialize() {
  var location = '<%= j @location.to_s.html_safe %>';
  location = location.replace(/]/g,"").replace(/[[]/g,"").split(",");
  var  latlng = new google.maps.LatLng(location[1],location[2]);
  var mapOptions = {
    zoom: 15,
    center: latlng
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  setMarkers(map,location)
}
function setMarkers(map, location) {
  var market, i

  for (var i = 1; i < location.length; i= i + 3 ){
    var stop_lat = location[i];
    var stop_lng = location[i+1];

    var latlng = new google.maps.LatLng(parseFloat(stop_lat), parseFloat(stop_lng));
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: "Hello"
    });
    discribe_stop = location[i-1].split("|");
    var content = "<div class='street'>" + discribe_stop[1].replace(/"/g, "") + "</div>";
    for (var j = 0; j < discribe_stop.length; j++)
    {
      if (isNaN(discribe_stop[j].replace(/"/g,"")) && isNaN(discribe_stop[j + 1].replace(/"/g,"")))
       { content += "<div class='number_route'>"+discribe_stop[j].replace(/"/g,"") + "</div>";}
    }

    var infowindow = new google.maps.InfoWindow()
    google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow){
      return function() {
        infowindow.setContent(content);
        infowindow.open(map, marker);
      };
    })(marker, content, infowindow));
  };

};

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</div>
</body>
