
<body>
  <script>
  $(document).ready(function() {
  var y =  document.getElementById("location");

      if (navigator.geolocation) {
          y.innerHTML = "Finding location. Please wait...";
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          y.innerHTML = "Geolocation is not supported by this browser.";
      }


  function showPosition(position) {
       var geocoder = new google.maps.Geocoder();
       var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
       geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
           y.innerHTML = "You location "+ (results[0].formatted_address);
        };
      };
    });
      $("form input[name='latitude']").val(position.coords.latitude);
      $("form input[name='longitude']").val(position.coords.longitude);

  };

  });


  </script>
  <header class="sf-muni">
    SF-MUNI
  </header>
<div class="headen">
    <%= hidden_field_tag(:latitude, params[:latitude])%>
    <%= hidden_field_tag(:longitude, params[:longitude])%>
</div>


<!-- <p id="demo"></p> -->
<input type="hidden" value="" id="hidden1">
<input type="hidden" value="" id="hidden2">

<script>
$(document).ready(function(){
  $(".chosen").data("placeholder","Select Frameworks...").chosen();
});

</script>

<p class="message"><%= @message %></p>
  <p id="location"></p>
<div class="all">
  <!-- list of all stops -->
  <div>
  <form action="/stops" method="post">
    <%= hidden_field_tag(:latitude, params[:latitude])%>
    <%= hidden_field_tag(:longitude, params[:longitude])%>
    <select class="stop_title chosen" name="stop" id="station">
      <% @stops.select("distinct title").order("title").each do |stop| %>
        <option name="stop.latitude" value="<%=stop.title%>"><%= stop.title %></option>
      <% end %>
    </select>
    <input type="submit" value="Show">
  </form>
</div>
</div>


</body>
