
<body>
  <script>


  </script>
  <header class="sf-muni">
    SF-MUNI
  </header>
<div class="headen">
    <%= hidden_field_tag(:latitude, params[:latitude])%>
    <%= hidden_field_tag(:longitude, params[:longitude])%>
</div>


<!-- <p id="demo"></p> -->
<input type="hidden" value="" id="hidden1">
<input type="hidden" value="" id="hidden2">

<script>
$(document).ready(function(){
  $(".chosen").data("placeholder","Select Frameworks...").chosen();
});

</script>

<p class="message"><%= @message %></p>
  <p id="location"></p>
<div class="all">
  <!-- list of all stops -->
  <div>
  <form action="/stops" method="post">
    <%= hidden_field_tag(:latitude, params[:latitude])%>
    <%= hidden_field_tag(:longitude, params[:longitude])%>
    <select class="stop_title chosen" name="stop" id="station">
      <% @stops.each do |stop| %>
        <option name="stop.latitude" value="<%=stop.title%>, <%= stop.latitude%>, <%= stop.longitude %>"><%= stop.title %></option>
      <% end %>
    </select>
    <input type="submit" value="Show">
  </form>
</div>
</div>


</body>
